<div class='row'>
  <ul class='list-unstyled'>
    <li class='btn btn-primary' ng-click='myPostings()'>My Postings</li>
    <a ui-sref='postings.new'><li class='btn btn-default'>New Posting</li></a>
  </ul>
</div>
<div class='row'>
  <div class='col-md-3'>
    <table class='table'>
      <tr ng-repeat='posting in activePostings'>
        <td>
          <a ng-href="#/postings/{{posting.id}}">{{posting.title}}</a>
        </td>
      </tr>
    </table>

    <pager total-items='totalPostings' ng-model="currentPage"></pager>
  </div>
<div class='col-md-9'>
  <div ui-view></div>
</div>
