<div ng-init='!editing'>
  <div class="row" ng-show='!editing' ng-cloak>
    <pp-user user='profile.user'></pp-user>
  </div>

  <div class='row' ng-show='editing' ng-cloak>
    <p>
      <label>Username changes are not possible at the moment.</label>
      <input type="text" class='form-control' ng-model='profile.user.username' disabled>
    </p>

    <p>
      <label>Email changes are not possible at the moment.</label>
      <input type="email" class='form-control' ng-model='profile.user.email' disabled>
    </p>

    <p>
      <label>About</label>
      <textarea class='form-control'ng-model='profile.user.about' cols="30" rows="10"></textarea>
    </p>
    <p class='checkbox'>
      <label><input type='checkbox' ng-model="profile.user['mentor']" />Interested in mentoring?</label>
    </p>
    <p class='checkbox'>
      <label><input type='checkbox' ng-model="profile.user['student']" />Looking for a mentor?</label>
    </p>
    <p class='checkbox'>
      <label><input type='checkbox' ng-model="profile.user['just_partner']" />Just want to hack with someone?</label>
    </p>
  </div>

  <button class='btn btn-primary' ng-show='!editing' ng-click='editing = !editing'>Edit Profile</button>
  <button class='btn btn-primary' ng-show='editing' ng-click='editing = !editing; profile.saveChanges(profile.user);'>Save Changes</button>
  <button class='btn btn-warning' ng-show='editing' ng-click='editing = !editing; profile.refresh(profile.user.id)'>Cancel</button>
</div>
