<div class='row'>
  <div class='col-md-3'>
    <h5>Messages</h5>
    <ul>
      <li ng-repeat='message in messages' ng-click='getMessage(message.id, type)'>{{message.title}}</li>
    </ul>
  </div>
  <div class='col-md-7'>
    <div ng-if='!activeMessage && newMessage'>
      <p>Click on a message on the left to read it</p>
    </div>
    <div ng-if='activeMessage'>
      <h4>{{activeMessage.subject}}</h4>
      <h6>From: {{activeMessage.sender_name}}</h6>
      <h6>To: {{activeMessage.receiver_name}}</h6>
      <h6>Sent on {{activeMessage.created_at | date : 'medium'}}</h6>
      <p>{{activeMessage.body}}</p>
      <button ng-if='type == inbox' ng-click='reply(activeMessage)' class='btn btn-primary'>Reply</button>
    </div>
    <div ng-if='newMessage'>
      <h6>To: {{newMessage.receiver_name}}</h6>
      <p><input type='hidden' ng-model='newMessage.sender_id' /></p>
      <p><input type='text' class='form-control' ng-model='newMessage.title' /></p>
      <p><textarea ng-model='newMessage.response' placeholder="on {{newMessage.created_at | date : 'medium'}} {{newMessage.receiver_name}} wrote: {{newMessage.body}}"
                   class='form-control'></textarea></p>
      <button ng-click='send(newMessage)' class='btn btn-primary'>Send</button><button ng-click='cancel(newMessage)' class='btn btn-danger'>Cancel</button>
    </div>
  </div>
</div>