language: ruby
rvm:
  - "2.1.1"
env:
  - REDISTOGO_URL=redis://localhost:6379
  - FIREBASE_URI='https://intense-torch-4584.firebaseio.com/data'
services:
  - redis-server
script:
  - bundle exec rake db:create db:migrate
  - RAILS_ENV=test bundle exec rake spec
