<div class='row'>
  <div class='col-sm-3 user-box' ng-repeat='friend in friends'>
    <h5 ng-if='type == "approved"'><a ng-href="#/friends/{{friend.id}}">{{friend.username}}</a></h5>
    <h5 ng-if='type !== "approved"'><a ng-href="#/friends">{{friend.username}}</a></h5>
    <img ng-src='https://secure.gravatar.com/avatar/{{friend.gravatar_hash}}' />
    <ul class='list-inline'>
      <li>Languages:</li>
      <li ng-repeat='language in friend.languages'>{{language.name}}</li>
    </ul>
  </div>
</div>
