body {
  background-color: #E5F2FF;
}

.well {
  background-color: #FFFFFF;
}

.animate-view {
  width: auto;
}

.animate-view.ng-enter {
  -webkit-animation: fadeInLeft 0.3s;
  animation: fadeInLeft 0.3s;
}

.angular-google-map-container { height: 400px; }

.user-box {
  border: 1px solid #000000;
}

.friends-animate.ng-enter {
  -webkit-animation: lightSpeedIn 0.5s;
  animation: lightSpeedIn 0.5s;
}

.user-sidebar {
  border: 1px solid #000000;
}

.spaced-li {
  margin: 10px 0;
  font-size: 0.8em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}