body {
  /* background-color: #E5F2FF; */
}

.well {
  /* background-color: #FFFFFF; */
}

.animate-view {
  width: auto;
}

.animate-view.ng-enter {
  -webkit-animation: fadeInLeft 0.3s;
  animation: fadeInLeft 0.3s;
}

.angular-google-map-container { height: 400px; }

.user-box {
  border: 1px solid #000000;
}

.friends-animate.ng-enter {
  -webkit-animation: lightSpeedIn 0.5s;
  animation: lightSpeedIn 0.5s;
}

.user-sidebar {
  border: 1px solid #000000;
}

.spaced-li {
  margin: 10px 0;
  font-size: 0.8em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.center {
  text-align: center;
}

.big-header {
  font-size: 3em;
}

.half-rule {
  width: 25%;
}

.editing {
  border: 2px solid red;
}

.text-super-muted {
  color: #e5e5e5;
}

.growl-notifications {
  position: fixed;
  top: 50px;
  right: 50%;
  z-index: 1000;
}

.faq-question {
  font-weight: bold;
  font-size: 1.5em;
}

.faq-answer {
  padding: 1em;
  margin: 0 2em;
}

.huge {
  font-size: 3em;
}

.home-white {
  background-color: #FFF;
}

.home-blue {
  color: #314D63;
  background-color: #fefefe;
}
