html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /* background-color: #E5F2FF; */
}

.well {
  /* background-color: #FFFFFF; */
}

.animate-view {
  width: auto;
}

.animate-view.ng-enter {
-webkit-animation: fadeIn 0.4s;
animation: fadeIn 0.4s;
}

.angular-google-map-container { height: 400px; }

.user-box {
  border: 1px solid #000000;
}

.friends-animate.ng-enter {
  -webkit-animation: fadeIn 0.4s;
  animation: fadeIn 0.4s;
}

.user-sidebar {
  /* border: 1px solid #000000; */
  border-radius: 3px;
}

.spaced-li {
  margin: 10px 0;
  font-size: 0.8em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.center {
  text-align: center;
}

.big-header {
  font-size: 3em;
}

.half-rule {
  width: 25%;
}

.editing {
  border: 2px solid red;
}

.text-super-muted {
  color: #e5e5e5;
}

.growl-notifications {
  position: fixed;
  top: 50px;
  right: 50%;
  z-index: 1000;
}

.faq-question {
  font-weight: bold;
  font-size: 1.5em;
}

.faq-answer {
  padding: 1em;
  margin: 0 2em;
}

.huge {
  font-size: 3em;
}

.home-white {
  background-color: #FFF;
}

.home-blue {
  color: #314D63;
  background-color: #fefefe;
}

.lander-blue {
  background-color: #2b3e50;
  color: #ebebeb;
}


.lander-blue h3 {
  color: #ebebeb;
}

.lede-item {
  margin-bottom: 3em;
}

.lede-item p {
  font-size: 1.5em;
}

.title {
  font-size: 3em;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.nav-toggle-button {
  position: fixed;
  top: 52px;
  z-index: 1000;
  left: 15px;
}
