body {
  background-color: #E5F2FF;
}

.well {
  background-color: #FFFFFF;
}

.animate-view {
  width: auto;
}

.animate-view.ng-enter {
  -webkit-animation: fadeInLeft 0.3s;
  animation: fadeInLeft 0.3s;
}

.angular-google-map-container { height: 400px; }

.user-box {
  border: 1px solid #000000;
}
