<!DOCTYPE html>
<html lang="en" ng-app='ppApp'>
<head>
	<meta charset="UTF-8">
	<title>Angular Rails</title>
	<!-- build:css ./assets/combined.css -->
	<link rel="stylesheet" type="text/css" href=""/>
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css"/>
	<!-- endbuild -->
</head>
<body>
  <div class='container'>
    <div ng-controller='currentUserCtrl as currentCtrl'>
      <div ng-if='currentCtrl.user'>
        <p>Logged in as: {{currentCtrl.user.username}}</p>
        <p ng-click="logout()">Logout</p>  
      </div>
    </div>

    <div ng-controller='alertsCtrl as alertCtrl'>
      <alert ng-repeat="alert in alertCtrl.alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <div ng-view></div>
  </div>
	<!-- build:js ./assets/combined.js -->
	<script src="./bower_components/angular/angular.js"></script>
  <script src='./bower_components/angular-route/angular-route.js'></script>
  <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="./bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="./js/app.js"></script>
  <script src="./signup/signup.js"></script>
  <script src="./js/signupservice.js"></script>
  <script src="./signin/signin.js"></script>
  <script src="./js/sessionservice.js"></script>
  <script src="./js/tokenhandler.js"></script>
  <script src="./alerts/alerts.js"></script>
  <script src="./js/cookiehandler.js"></script>
  <script src="./currentuser/currentuser.js"></script>
	<!-- endbuild -->
</body>
</html>