<!-- read this: http://stackoverflow.com/questions/10816073/how-to-do-paging-in-angularjs -->
<div class='row'>
  <div class='col-md-8'>
    <p>{{totalUsers}} users</p>
  </div>
</div>

<div class='row'>
  <div class='col-sm-3 user-box' ng-repeat='user in activeUsers'>
    <p>{{user.username}}</p>
    <button class='btn btn-primary' ng-click='add(user)'>Add friend</button>
    <img ng-src='https://secure.gravatar.com/avatar/{{user.gravatar_hash}}' class='img-circle' />
    <ul class="list-inline">
      <li>Languages:</li>
      <li  ng-repeat='language in user.languages'>{{language.name}}</li>
    </ul>
  </div>
</div>
    <pagination ng-model='currentPage' total-items='totalUsers' items-per-page='itemsPerPage'></pagination>
