<div class='row' ng-if='currentUser'>
  <div class='col-md-1 user-sidebar well'>
    <ul class='list-inline'>
      <li class='spaced-li'><a ui-sref='messages.inbox'><i class='fa fa-envelope fa-3x'></i>Messages</a></li>
      <li class='spaced-li'><a ui-sref='friends.all'><i class='fa fa-users fa-3x'></i>Friends</a></li>
      <li class='spaced-li'><a ui-sref='friendfinder'><i class='fa fa-search fa-3x'></i>Friend Finder</a></li>
    </ul>
  </div>
  <div class='col-md-11'>
    <ng-transclude></ng-transclude>
  </div>
</div>


<div class='row' ng-if='!currentUser'>
  <ng-transclude></ng-transclude>
</div>