<div class='row'>
  <div class='col-sm-7'>
    <form novalidate ng-submit="submit(signup)" class='form-horizontal' name='signupForm'
    ng-init="signup['just_partner?'] = true">
      <p>
        <label>Username</label>
        <input type="text" ng-model="signup.username" class='form-control' name='username'
               require minlength='3' record-availability-validator="/api/v1/validations/username"
               ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }">
      </p>
      <div ng-messages="signupForm.username.$error">
        <div ng-message="required">You did not enter a username</div>
        <div ng-message="minlength">Username must be at least 4 characters</div>
        <div ng-message="recordLoading">Checking database...</div>
        <div ng-message="recordAvailable">The username is already in use...</div>
      </div>

      <p>
        <label>Email</label>
        <input type="email" ng-model="signup.email" class='form-control' name='email'
        record-availability-validator="/api/v1/validations/email"
        ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }">
      </p>
      <div ng-messages='signupForm.email.$error'>
        <div ng-message='required'>You did not enter an email</div>
        <div ng-message='email'>Email is not in the correct format</div>
        <div ng-message='recordAvailable'>Email is in use!</div>
      </div>
      <p>
        <label>Password</label>
        <input type="password" ng-model="signup.password" class='form-control'>
      </p>
      <p>
        <label>Password Confirmation</label>
        <input type="password" ng-model="signup.password_confirmation" class='form-control'>
      </p>
      <p>
        <label>Location</label>
        <input type="text" ng-model="signup.location" class='form-control'>
      </p>
      <p>
        <label>Languages</label>
        <tags-input ng-model='signup.languages' min-length="1" placeholder="Languages you wanna pair on"
        add-on-enter="false" add-on-comma="false" add-on-blur="false">
          <auto-complete source='getLanguages($query)' min-length='1'>
          </auto-complete>
        </tags-input>
      </p>
      <p class='checkbox'>
        <label><input type='checkbox' ng-model="signup['mentor']" />Interested in mentoring?</label>
      </p>
      <p class='checkbox'>
        <label><input type='checkbox' ng-model="signup['student']" />Looking for a mentor?</label>
      </p>
      <p class='checkbox'>
        <label><input type='checkbox' ng-checked="signup['just_partner']" ng-model="signup['just_partner?']" />Just want to hack with someone?</label>
      </p>
      <p>
        <label>About:</label>
        <textarea ng-model='signup.about' placeholder='What are you working on? What do you wanna pair on?'
              class='form-control'></textarea>
      </p>
      <p>
        <input type="submit" value="Sign up" ng-disabled='signupForm.$invalid' name="SubmitButton">
      </p>
      <p id='signupForm-invalid' ng-show='signupForm.$invalid'>Opps, please check the form again</p>
    </form>
  </div>
</div>
