<div ng-repeat='friend in friends'>
  <div class='row' >
    <div class='col-md-4 col-md-offset-2'>
      <h5 ng-if='type == "approved"'><a ng-href="#/friends/{{friend.id}}">{{friend.username}}</a></h5>
      <h5 ng-if='type !== "approved"'><a ng-href="#/users/{{friend.id}}">{{friend.username}}</a></h5>
      <img ng-src='https://secure.gravatar.com/avatar/{{friend.gravatar_hash}}' />
    </div>
    <div class='col-md-4'>
      <h5>Languages:</h5>
      <ul class='list-inline'>
        <li ng-repeat='language in friend.languages'>{{language.name}}</li>
      </ul>
    </div>
  </div>
  <hr/>
</div>
