<div class='row'>
  <div class='col-md-12'>
    <h2 ng-if="q === undefined">Make Friends & Program Together</h2>
    <h2 ng-if="q === 'Ruby'">programming_buddies ? (build_stuff && learn) : make_friends</h2>
    <p>
      Pair program in:<select ng-model="language">
      <option value="Ruby">Ruby</option>
      <option value="Python">Python</option>
      <option value="Javascript">Javascript</option>
      </select>
    <google-map center="map.center" zoom="map.zoom" draggable='true'>
      <markers models="filteredUsers" coords="'self'"></markers>
    </google-map>
  </div>
</div>
