<div class='container'>
  <div class='row'>
    <div class='col-sm-7'>
      <h4>Let's talk!</h4>
      <form novalidate name='contactForm' ng-submit='sendMessage(contact)'>
        <p>
          <label>Your Email</label>
          <input type="email" name='email' class='form-control' ng-model='contact.email' require>
        </p>
        <p>
          <label>Message:</label>
          <textarea name="message"
            class='form-control' ng-model='contact.message'
            cols="30" rows="10" require></textarea>
        </p>
        <p><input type="submit" class='btn btn-primary'></p>
      </form>
    </div>
  </div>
</div>
